@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
.bgcontainer{
    background-image: url('./assets/bodybg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home{
    background-image: url('./assets/shihab.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
@media screen and (max-width:768px) {
    .home{
        background-image: url('./assets/shihab.png');
        background-size: contain;
        background-position: top;
    }    
}

.btn{
    background: white;
    color: #8CC63F;
    border: 1px solid #00346C;
    border-radius: 5px;
    padding: 5px 25px;
    position: relative;
    font-weight: bold;
    margin-top: .5rem;
    font-size: 20px;
    margin-bottom: .5rem;
    box-shadow: rgba(101, 182, 76, 0.2) 0px 7px 29px 0px;
    outline: none;
}
.btn:hover{
    background: #00346C;
    color: white;
    padding: 5px 30px;
    transition: all ease-in-out 0.3s;
    box-shadow: rgba(94, 204, 74, 0.2) -25px 25px 29px 0px;

}
@media screen and (max-width:768px) {
    .btn{
        font-size: 12px;
        background: #00346C;
    color: white;
    box-shadow: rgba(117, 212, 73, 0.2) -25px 25px 29px 0px;
    }

}


.tech img{
    width: 8%;
    margin-bottom: 4rem;
}
@media screen and (max-width:1280px) {
    .tech img{
        width: 12%;
    }
    
}
@media screen and (max-width:768px) {
    .tech img{
        width: 15%;
    }
    
}

.shadow-1{
    box-shadow: rgba(119, 215, 71, 0.56) 0px 22px 70px 4px;
    border-radius: 15px;
    
    border: 1px solid #cccccc;
}
@media screen and (max-width: 768px) {
    .shadow-1{
        border-radius: 8px;
    }
    
}
hr{
    background-color: #f0c3ff;
    height: 2px;
}
.slick-prev:before, .slick-next:before {
    color: #8CC63F !important;
}

.slick-dots li.slick-active button:before {
    color: #00346C !important;
}
.icon{
    color:  #00346C;
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .icon{
        color: white;
        width: 20px !important;
    }
    .icon-b{
        color:#8CC63F  ;

    }
    
}
.icon:hover{
    color:#8CC63F;
}
@media screen and (min-width:768px) {
    .slick-next:before {
        margin-left: 2rem !important;
    }
    .slick-prev:before {
        margin-left: -2rem !important;
    }
    .slick-dots {
        bottom: -45px !important;
    }
}

@media (min-width: 443px) and (max-width: 768px) {
    .header-text{
        width: 40% !important;
    }    
}